# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
# Usually contains the output of `pyinstaller`
# e.g., `dist/`, `build/`, and `.spec` files
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# Pytype
.pytype/

# Cython debug symbols
cython_debug/

# PyCharm / VSCode
.idea/
.vscode/

# Jupyter Notebook
.ipynb_checkpoints

# dotenv
.env
.env.*

# virtualenv
venv/
ENV/
env/
.venv/

# VS Code settings
.settings/

# Mac system files
.DS_Store

# Log files
*.log

# SQLite database
*.sqlite3

# Local test config
local_settings.py
